<ng-container *ngIf="project">
  <div class="w-12 mx-auto ">
    <ng-container *ngIf="project.img; else noImage">
      <img [width]="48" [height]="48" class="w-[48px] h-[48px] rounded-full" [ngSrc]="project.img"
           [alt]="'logo of my side project named ' + project.title">
    </ng-container>
    <ng-template #noImage>
      <div class="w-[48px] h-[48px] rounded-full bg-gray-200 text-center leading-[48px] font-bold text-lg">
        {{ project.title[0] }}
      </div>
    </ng-template>
  </div>
  <div class="text-center w-full mt-6">
    <h1 class="text-4xl font-bold">{{project.title}}</h1>
  </div>
  <div class="mt-4 flex flex-row gap-2 justify-center">
    <div *ngFor="let technology of project.technologies"
         class="border border-gray-200 shadow p-1 rounded text-sm">
      {{technology}}
    </div>
  </div>
  <div class="mt-6 grid auto-cols-fr grid-flow-col gap-3 text-center text-white">
    <ng-container *ngIf="project.github">
      <a target="_blank" [href]="project.github"
         class="bg-neutral-950 rounded py-2">
        <ng-icon name="ionLogoGithub"></ng-icon>
        Open on GitHub
      </a>
    </ng-container>
    <ng-container *ngIf="project.website">
      <a target="_blank" [href]="project.website"
         class="bg-neutral-950 rounded py-2">
        <ng-icon name="heroArrowTopRightOnSquare"></ng-icon>
        Web App
      </a>
    </ng-container>
  </div>
</ng-container>
