/* VAR */
.presentation {
  height: 100vh;
}

/* STATUS */
.status-group {
  position: relative;
  height: 305px;
  width: 305px;
  margin: 0 auto;

  & app-dots {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  & .status-message {
    z-index: 30;

    position: absolute;
    left: 0;
    bottom: 25px;

    padding: 6px 14px;
    margin-top: 20px;

    border-radius: 6px;
    font-size: 1.2rem;
    text-align: center;

    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.15);

    color: var(--jet);
    background: #fff;
  }

  & .status-svg {
    z-index: 20;
    border-radius: 50%;
  }
}

/* TEXT */
.welcome {
  margin-top: 4rem;
  padding: 15px 25px;

  .text-welcome {
    color: var(--jet);
  }

  .text-personal {
    margin-top: -30px;
    color: #fff;
  }

  .text-currentJob {
    margin-top: 55px;
    color: #fff;
  }
}

/* SOCIALS */
.social-list {
  padding: 0;
  margin: 0;

  display: flex;
  gap: 20px;

  list-style: none;
}

.social-link {
  display: flex;

  align-items: center;
  justify-content: center;

  margin-top: 20px;
  padding: 14px 18px;
  border-radius: 30px;
  font-weight: 600;

  color: #fff;
  background: var(--light-goldenrod);
  transition: .3s ease-in;

  &:hover {
    scale: 1.1;
    box-shadow: 0 0 1px 4px rgba(0, 0, 0, 0.15);
  }

  & a {
    text-decoration: none;
    text-underline: none;

    color: var(--jet);
  }
}
