.status-message {
  padding: 6px 14px;
  margin-top: 20px;

  border-radius: 6px;
  font-size: 1.2rem;
  text-align: center;

  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.15);

  color: var(--jet);
  background: #fff;
}
