<header class="presentation">

  <div class="status-group" style="margin-top: 35px;">
    <img class="status-svg"
         ngSrc="assets/memoji.svg"
         height="305"
         width="305"
         alt="memoji of myself behind a computer"
         priority="1">

    <span class="status-message">Actuellement {{available ? '' : 'non '}} disponible 😄</span>

    <app-dots [rows]="5" [columns]="5" [scale]="5"></app-dots>
  </div>


  <div class="welcome">
    <h2 class="text-welcome">Hey ! i'm -</h2>
    <h1 class="text-personal">Romain Antunes</h1>

    <h3 class="text-currentJob"> {{currentJob}} </h3>
    <div>
      <ul class="social-list">
        <li class="social-link" *ngFor="let social of socials">
          <a target="_blank" [href]="social.link">
            <ng-icon [name]="social.icon" *ngIf="social.icon"></ng-icon>
            {{social.name}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<section style="margin-top: 50px;">
  <app-projects></app-projects>
</section>

<!-- Made with love by Romain Antunes ❤️ -->
