.project-detail-popup {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - (2 * 35px));
  height: 100%;

  padding: 30px 35px 0 35px;

  color: #fff;
  background-color: var(--cambridge-blue);

  & .project-description {
    margin-bottom: 2rem;
    white-space: pre-wrap;
  }
}

.project-header {

  display: flex;
  justify-content: space-between;

  & .project-return {
    width: 50px;
    height: 50px;

    border-radius: 50%;

    background: var(--cinereous);
    color: white;

    border: none;
    cursor: pointer;

    & ng-icon {
      color: white;
      font-size: 26px;

      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  & .project-in-progress {

    display: flex;
    flex-direction: row-reverse;

    & span {
      margin-right: 15px;
      line-height: 50px;
    }

    & .project-alert-icon {
      width: 50px;
      height: 50px;

      border-radius: 50%;
      background-color: var(--laurel-green);

      &::after {
        content: '';
        z-index: -1;

        width: 60px;
        height: 60px;

        display: block;

        background-color: var(--laurel-green);
        border-radius: 50%;

        opacity: .3;
        transition: .3s ease-in-out;

        position: relative;
        top: -35px;
        left: -5px;

        animation: pulse 1s infinite ease-in;
      }

      & ng-icon {
        color: white;
        font-size: 26px;

        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.project-image {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  & img {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    object-position: top;
    border: 1px solid var(--jet);
  }
}

.project-tech {
  display: flex;
  flex-direction: column;
  gap: 5px;

  & span {
    display: block;
  }
}

.project-link {
  display: flex;
  flex-direction: column;
  gap: 5px;

  & a {
    color: var(--jet);
    text-decoration: underline;

    & ng-icon {
      font-size: 12px;
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(.9);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(.9);
  }
}
