<div class="w-full px-5 mx-auto relative border-t border-gray-500/10 py-3">
  <span class="text-sm opacity-60">Theme →</span>
  <div class="mx-2 bg-white border border-gray-200 rounded-lg cursor-pointer hover:border-gray-800 inline-flex text-sm">
    <select class="w-full bg-white outline-none appearance-none cursor-pointer py-1 px-2 rounded-lg">
      <option value="system">System</option>
      <option value="light">Light</option>
      <option value="dark">Dark</option>
    </select>
  </div>

</div>
