<div class="w-full px-5 mx-auto relative border-t border-gray-500/10 py-3">
  <ng-container *ngIf="(darkMode$ | async) as darkMode">
    <span class="text-sm opacity-60">Theme →</span>
    <div class="mx-2 bg-white dark:bg-gray-800 border border-gray-200 rounded-lg cursor-pointer dark:border-gray-800 inline-flex text-sm">
      <select [ngModel]="darkMode"
              (ngModelChange)="onChange($event)"
              class="w-full bg-white dark:bg-gray-800 outline-none appearance-none cursor-pointer py-1 px-2 rounded-lg">
        <option *ngFor="let state of darkModeState" [value]="state">
          {{DarkModeStateMapping[state]}}
        </option>
      </select>
    </div>
  </ng-container>
</div>
